.icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-text img {
    height: 16px;
    width: 16px;
}

.icon-text span {
    margin-left: 10px;
}

a.icon-text {
    display: flex;
    text-decoration: none;
    color: #000;
}
a.icon-text:hover {
    color: #d352b9;
}

.icon-text div {
    display: inline-flex;
    align-items: center;
}

.research-row {
    display: flex;
    align-items: start;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.research-text-content {
    margin-left: 20px;
}

.research-thumbnail {
    width: 400px;
}

.research-thumbnail img {
    height: auto;
}
