.icon-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon-text img {
    height: 16px;
    width: 16px;
}

.icon-text span {
    margin-left: 10px;
}

a.icon-text {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}
a.icon-text:hover {
    color: #d352b9;
}

.research-row {
    display: flex;
    align-items: start;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    min-height: 180px;
}

.research-text-content {
    margin-left: 20px;
    flex: 1;
}

.research-thumbnail {
    width: 400px;
    flex-shrink: 0;
}

.research-thumbnail img {
    width: 400px;
    height: auto;
    object-fit: contain;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a {
    color: #2334d2;
}