.icon-text {
    display: flex;
    align-items: center;
}

.icon-text img {
    height: 16px;
    width: 16px;
}

.icon-text span {
    margin-left: 10px;
}

a.icon-text {
    text-decoration: none;
    color: #000;
}